

.heroContainer {
  display: flex;
  justify-content: space-between;
  margin: 0 120px;
  padding: 100px 0 100px 0;
}

.heroText {
  margin-top: 420px;
}

.heroTitle {
  color: #FFF;
  font-size: 9rem;
  font-weight: 300;
  font-family: "Arsenal SC", sans-serif;
}

.heroSubtitle {
  color: #FFF;
  font-size: 2.3rem;
  font-weight: 300;
  font-family: "Arsenal SC", sans-serif;
}

img.heroImg {
  width: 600px;
  margin-top: 220px;
}