/* MAIN NAVIGATION STYLES (Desktop) */

.navbarContainer {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}
.navLogo {
  margin: 10px 120px;
  font-weight: 200;
  font-size: 2.5rem;
  color: #3795BD;
  text-decoration: none;
}


nav ul  {
  display: flex;
  margin: 10px 120px;
}

nav li {
  list-style: none;
  padding: 20px 30px;
  font-size: 1.2rem;
  text-decoration: none;
}

.navItems a{
  text-decoration: none;
  color: #3795BD;
}

.navItems a:hover {
  color: #d981f9;
}